.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
}

.title {
    margin: 0;
    margin-bottom: 24px;
    font-size: var(--font-size-l);
    font-weight: 400;
    color: var(--color-asphalt-gray);
}

.subtitle {
    margin: 0;
    margin-bottom: 38px;
    font-size: var(--font-size-s);
    font-weight: 400;
    color: var(--color-asphalt-gray);
}