.header {
    display: flex;
    width: 100vw;
    align-items: center;
    line-height: 78px;
    flex-direction: row;
    height: 78px;
    border-bottom: 1px solid #e6eaea;
    font-family: 'IBM Plex Serif', serif;
}

.menuButton {
    width: 10vw;
    height: 78px;
    min-width: 115px;
    cursor: pointer;
    border-right: 1px solid #e6eaea;
}

.headerTitle {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.headerTitle h1 {
    display: inline-block;
    margin: 0;
    font-weight: normal;
}

.headerTitle p {
    display: inline-block;
    margin: 0;
    font-size: var(--font-size-m);
    margin-left: 3px;
}

.exitButton {
    border-left: 1px solid #e6eaea;
    width: 10vw;
    cursor: pointer;
}