.formItem {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    height: fit-content;

    label {
        font-size: var(--font-size-m);
        font-weight: 400;
        color: var(--color-asphalt-gray);
    }
}

.errorText {
    font-size: var(--font-size-xs);
    font-weight: 400;
    color: var(--color-scary-orange);
    min-height: 16px;
}

.hiddenError {
    color: transparent;
}