.button {
    cursor: pointer;
    width: fit-content;
    padding: 0 20px;
    outline: none;
    font-size: 20px;
    border: none;
    line-height: 3rem;
}

.button:hover {
    background-color: #ddd;
}
