.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: relative;
    padding-inline: 48px;
    padding-block: 16px;
    height: 52px;
    border-radius: 8px;
    font-size: var(--font-size-20);
    font-family: 'IBM PLex Serif', sans-serif;
    font-weight: 400;
    line-height: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.disabled {
    color: var(--color-light-gray) !important;
}