.default {
    color: var(--color-asphalt-gray);
    background-color: var(--color-shaded-white);
}

.default:hover {
    background-color: var(--color-teeth-white);
    box-shadow: 0 0 0 2px var(--color-cloud-gray);
}

.control {
    font-size: var(--font-size-xs);
    color: var(--color-asphalt-gray);
    border: none;
    border-radius: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.control:hover {
    background-color: var(--color-light-gray);
}
