.menuWrapper {
    width: 300px;
    height: 100%;
    background-color: #f4f7f6;
    line-height: 78px;
    transform: translateX(-300px);
    transition: transform 0.5s;
    margin: 0;
    font-family: 'IBM Plex Serif', serif;
    user-select: none;
    z-index: 100;
}

.visible {
    transform: translateX(0vw);
}

.menuItemWrapper {
    cursor: pointer;
    text-align: left;
    display: flex;
    width: 100%;
    background-color: #f4f7f6;
    border-bottom: 1px solid #e6eaea;
    height: 78px;
    flex-direction: row;
    justify-content: space-between;
}

.menuItemWrapper:hover {
    background-color: white;
}

.disableHover:hover {
    background-color: #f4f7f6;
}

.menuItemText {
    margin: 0;
    padding-left: 20px;
    font-size: 16px;
}

.menuItemLink {
    text-decoration: none;
    color: inherit;
    width: 100%;
    cursor: pointer;
}

.menuCloseButton {
    float: right;
    font-size: 16px;
    padding-right: 20px;
    cursor: pointer;
}

.menuCloseButton:hover {
    color: rgb(58, 58, 58);
    transition: color 0.5s;
}

.clickable {
    cursor: pointer;
}
