.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding-bottom: 5px;
}

.form button {
    margin-top: 8px;
}

.submitError {
    padding-top: 24px;
    font-size: var(--font-size-xs);
    font-weight: 400;
    color: var(--color-scary-orange);
    min-height: 16px;
}
