.appWrapper {
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: var(--font-size-m);
}

.cover {
    display: block;
    z-index: 50;
    visibility: hidden;
    width: 100vw;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 50%;
    transition: all 0.5s;
}

.content {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    flex-grow: 1;
}

.visible {
    visibility: visible;
}