.controlsContainer {
    width: 100%;
    line-height: 40px;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid #e6eaea;
}

.controlItem {
    display: flex;
    justify-content: center;
    width: 12vw;
    position: relative;
    border-right: 1px solid #e6eaea;
}

.controlItem > div {
    width: inherit;
}