.controlsContainer {
    height: 70px;
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid var(--color-light-gray);
}

.controlItem {
    font-size: var(--font-size-xs);
    display: flex;
    justify-content: center;
    width: 200px;
    height: 100%;
    position: relative;
    border-right: 1px solid var(--color-light-gray);
}

.controlItem > div {
    width: inherit;
}
