.noCourses {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noCourses h1 {
    font-size: var(--font-size-m);
    font-weight: 500;
    color: var(--color-asphalt-gray);
}