.App {
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 0.9vw;
}

.Content {
  position: absolute;
  left: 0;
  right: 0;
  transform: translateX(0vw);
  transition: transform 0.5s;
  height: 100%;
}

.Content.menuVisible {
  transform: translateX(20vw);
  transition: transform 0.5s;
}

.Cover {
  display: block;
  z-index: 2;
  visibility: hidden;
  width: 100vw;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 50%;
  transform: translateX(0vw);
  transition: transform 0.5s;
}

.Cover.menuVisible {
  visibility: visible;
  z-index: 400;
  transform: translateX(20vw);
  transition: all 0.5s;
}
