.list_wrapper {
  width: 100%;
  align-items: center;
}

.list_wrapper ul {
  margin: 0;
  padding: 0;
}

.change_item {
  display: flex;
  width: 100%;
  flex-direction: column;
  direction: ltr;
  background-color: white;
}

.change_item .text_panel {
  padding-left: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.3rem;
  width: 100%;
  z-index: 1;
}

.change_item .text_panel.visible {
  box-shadow: 0px 2px 6px grey;
}

.change_item .edit_panel {
  background-color: white;
  display: none;
  width: 100%;
}

.change_item .edit_panel.visible {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.change_item .arrow_icon_container.visible {
  visibility: visible;
}

.change_item .edit_panel input {
  margin: 1rem 1rem;

}

.change_item .arrow_icon_container {
  visibility: hidden;
  margin-right: 1rem;
  border-radius: 50%;
  align-items: center;
}

.change_item:hover .arrow_icon_container {
  visibility: visible;
  flex: 1;
}

.change_item:hover {
  background-color: #f6f6f6;
}

.change_item .text_active {
  color: red;
}

.change_item .text {
  color: black;
}

.changes_block {
  direction: ltr;
  display: none;
  position: fixed;
  overflow-y: scroll;
  height: inherit;
  width: 33%;
}

.changes_block.left {
  left: 0;
  width: calc(100% / 3);
}

.changes_block.right {
  left: calc(100% / 3 * 2);
  width: calc(100% / 3);
}
.changes_block.center {
  left: calc(100% / 3);
  width: calc(100% / 3);
}

.changes_block .block_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: sticky;
  height: 40px;
  width: 100%;
  top: 0;
  line-height: 40px;
  z-index: 99;
  background-color: white;
  border-bottom: 1px solid #f6f6f6;
}

.changes_block.visible {
  display: inline-block;
}
