:root {
    --color-asphalt-gray: #4a4a4a;
    --color-scary-orange: #ff6b00;
    --color-shaded-white: #f6f6f6;
    --color-light-gray: #e6eaea;
    --color-teeth-white: #fff;
    --color-cloud-gray: #d5d5d5;
    --color-dark-glass: rgba(0, 0, 0, 0.5);
}
