.main {
  width: 20vw;
  height: 100vh;
  background-color: #f4f7f6;
  box-shadow: 4px 5px 5px lightgray;
  line-height: 78px;
  transform: translateX(-20vw);
  transition: transform 0.5s;
  margin: 0px;
}

.main.opened {
  transform: translateX(0vw);
  transition: transform 0.5s;
}

.item_container {
  text-align: left;
  display: block;
  width: 100%;
  background-color: #f4f7f6;
  border-bottom: 1px solid #e6eaea;
  cursor: pointer;
}

.item_container:hover {
  background-color: white;
}

.item_container.top {
  height: 78px;
  flex-direction: row;
  justify-content: space-evenly;
}

.item_container.top:hover {
  background-color: #f4f7f6;
}

.close_button {
  float: right;
  padding-right: 20px;
  cursor: pointer;
}

.close_button:hover {
  color: rgb(58, 58, 58);
  transition: color 0.5s;
}

.item_text {
  margin: 0px;
  padding-left: 20px;
  font-size: 15pt;
}

.item_text.top {
  float: left;
  padding-left: 20px;
}
