:root {
    --font-size-xs: 14px;
    --font-size-s: 16px;
    --font-size-m: 20px;
    --font-size-l: 48px;
}

@media screen and (max-width: 1500px) {
    :root {
        --font-size-xs: 12px;
        --font-size-s: 14px;
        --font-size-m: 16px;
        --font-size-l: 36px;
    }
}

@media screen and (max-width: 1350px) {
    :root {
        --font-size-xs: 10px;
        --font-size-s: 12px;
        --font-size-m: 14px;
        --font-size-l: 28px;
    }
}