.groupWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.groupHeader {
    width: 30vw;
    text-align: center;
    display: block;
    align-items: center;
}

.item {
    width: 30vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.item p {
    margin-right: 2rem;
    font-size: 20px;
    width: 15vw;
    text-align: left;
}

.item label {
    margin-right: 1rem;
}

.item input {
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    text-align: center;
    width: 2ch;
}
