.blockLeft {
    position: fixed;
    left: 0;
    right: 0;
    top: 78px;
    height: inherit;
    overflow-y: hidden;
    flex: 1;
    width: 20vw;
    border-right: 3px solid #e5e5e5;
}

.blockLeft:hover {
    overflow-y: scroll;
}

.blockRight {
    position: fixed;
    margin-left: 20vw;
    width: calc(100% - 20vw);
    left: 0;
    right: 0;
    top: 78px;
    height: inherit;
    overflow-y: scroll;
    flex: 4;
}

.blockLeft ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.blockLeft li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    padding: 1rem;
    border-bottom: 1px solid #e6eaea;
    cursor: pointer;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blockLeft .active {
    background-color: #e6eaea;
}

.blockLeft li:hover {
    background-color: #e6eaea;
}

.blockLeft li p {
    color: #191919;
    line-height: 2;
    margin: 0rem;
    margin-block: 0rem;
}
