.controlButton {
    border: 0;
    background-color: transparent;
    padding: 1em 0;
    cursor: pointer;
    width: 100%;
}

.controlButton:hover {
    background-color: #e6eaea;
}

.controlButton:focus {
    outline: 0;
}