.forbidden {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.forbidden h2 {
    margin: 0;
    color: var(--color-asphalt-gray);
    font-size: var(--font-size-m);
    font-weight: 400;
    line-height: 24px;
}

.title {
    width: fit-content;
    display: flex;
    flex-direction: row;
}

.code {
    margin: 0;
    color: var(--color-scary-orange);
    font-size: var(--font-size-l);
    font-weight: 400;
    line-height: 56px;
}

.text {
    margin: 0;
    color: var(--color-asphalt-gray);
    font-size: var(--font-size-l);
    font-weight: 400;
    line-height: 56px;
}