.inputWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.input {
    margin-top: 20px;
    text-indent: 10px;
    line-height: 3rem;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: #e6eaea;
}

.button {
    border: none;
    background-color: transparent;
    outline: none;
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
}
