.groupJournalTable {
    width: 100%;
}

.groupName {
    font-size: var(--font-size-xs);
    padding-block: 10px;
    padding-left: 60px;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 20px;
}

.bold {
    font-weight: bold;
}
