.select {
    text-indent: 10px;
    line-height: 3rem;
    font-size: 1.3rem;
    outline: none;
    border: none;
    width: 70%;
    min-width: 400px;
    background-color: #e6eaea;
    padding: 10px;
}
