.outer {
    border: 1px solid var(--color-light-gray);
    position: relative;
    padding: 0;
    height: inherit;
}

.weekend {
    background-color: var(--color-shaded-white) !important;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: var(--color-light-gray);
}

.disabled {
    background-color: #f5f5f5;
}

.inner {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

.text {
    height: fit-content;
    width: 100%;
    line-height: 1.5rem;
    text-align: center;
}
